//The color palette of Material Design
//
//Author: BeiYuu
//Repo: https://github.com/beiyuu/Material-Design-Color
//Color: http://www.google.com/design/spec/style/color.html

$clr_list_red = (#ffebee #ffcdd2 #ef9a9a #e57373 #ef5350 #f44336 #e53935 #d32f2f #c62828 #b71c1c #ff8a80 #ff5252 #ff1744 #d50000)

$clr_red      = $clr_list_red[5]
$clr_red_50   = $clr_list_red[0]
$clr_red_100  = $clr_list_red[1]
$clr_red_200  = $clr_list_red[2]
$clr_red_300  = $clr_list_red[3]
$clr_red_400  = $clr_list_red[4]
$clr_red_500  = $clr_list_red[5]
$clr_red_600  = $clr_list_red[6]
$clr_red_700  = $clr_list_red[7]
$clr_red_800  = $clr_list_red[8]
$clr_red_900  = $clr_list_red[9]
$clr_red_a100 = $clr_list_red[10]
$clr_red_a200 = $clr_list_red[11]
$clr_red_a400 = $clr_list_red[12]
$clr_red_a700 = $clr_list_red[13]


$clr_list_pink = (#fce4ec #f8bbd0 #f48fb1 #f06292 #ec407a #e91e63 #d81b60 #c2185b #ad1457 #880e4f #ff80ab #ff4081 #f50057 #c51162)

$clr_pink      = $clr_list_pink[5]
$clr_pink_50   = $clr_list_pink[0]
$clr_pink_100  = $clr_list_pink[1]
$clr_pink_200  = $clr_list_pink[2]
$clr_pink_300  = $clr_list_pink[3]
$clr_pink_400  = $clr_list_pink[4]
$clr_pink_500  = $clr_list_pink[5]
$clr_pink_600  = $clr_list_pink[6]
$clr_pink_700  = $clr_list_pink[7]
$clr_pink_800  = $clr_list_pink[8]
$clr_pink_900  = $clr_list_pink[9]
$clr_pink_a100 = $clr_list_pink[10]
$clr_pink_a200 = $clr_list_pink[11]
$clr_pink_a400 = $clr_list_pink[12]
$clr_pink_a700 = $clr_list_pink[13]


$clr_list_purple = (#f3e5f5 #e1bee7 #ce93d8 #ba68c8 #ab47bc #9c27b0 #8e24aa #7b1fa2 #6a1b9a #4a148c #ea80fc #e040fb #d500f9 #aa00ff)

$clr_purple      = $clr_list_purple[5]
$clr_purple_50   = $clr_list_purple[0]
$clr_purple_100  = $clr_list_purple[1]
$clr_purple_200  = $clr_list_purple[2]
$clr_purple_300  = $clr_list_purple[3]
$clr_purple_400  = $clr_list_purple[4]
$clr_purple_500  = $clr_list_purple[5]
$clr_purple_600  = $clr_list_purple[6]
$clr_purple_700  = $clr_list_purple[7]
$clr_purple_800  = $clr_list_purple[8]
$clr_purple_900  = $clr_list_purple[9]
$clr_purple_a100 = $clr_list_purple[10]
$clr_purple_a200 = $clr_list_purple[11]
$clr_purple_a400 = $clr_list_purple[12]
$clr_purple_a700 = $clr_list_purple[13]


$clr_list_deep_purple = (#ede7f6 #d1c4e9 #b39ddb #9575cd #7e57c2 #673ab7 #5e35b1 #512da8 #4527a0 #311b92 #b388ff #7c4dff #651fff #6200ea)

$clr_deep_purple      = $clr_list_deep_purple[5]
$clr_deep_purple_50   = $clr_list_deep_purple[0]
$clr_deep_purple_100  = $clr_list_deep_purple[1]
$clr_deep_purple_200  = $clr_list_deep_purple[2]
$clr_deep_purple_300  = $clr_list_deep_purple[3]
$clr_deep_purple_400  = $clr_list_deep_purple[4]
$clr_deep_purple_500  = $clr_list_deep_purple[5]
$clr_deep_purple_600  = $clr_list_deep_purple[6]
$clr_deep_purple_700  = $clr_list_deep_purple[7]
$clr_deep_purple_800  = $clr_list_deep_purple[8]
$clr_deep_purple_900  = $clr_list_deep_purple[9]
$clr_deep_purple_a100 = $clr_list_deep_purple[10]
$clr_deep_purple_a200 = $clr_list_deep_purple[11]
$clr_deep_purple_a400 = $clr_list_deep_purple[12]
$clr_deep_purple_a700 = $clr_list_deep_purple[13]


$clr_list_indigo = (#e8eaf6 #c5cae9 #9fa8da #7986cb #5c6bc0 #3f51b5 #3949ab #303f9f #283593 #1a237e #8c9eff #536dfe #3d5afe #304ffe)

$clr_indigo      = $clr_list_indigo[5]
$clr_indigo_50   = $clr_list_indigo[0]
$clr_indigo_100  = $clr_list_indigo[1]
$clr_indigo_200  = $clr_list_indigo[2]
$clr_indigo_300  = $clr_list_indigo[3]
$clr_indigo_400  = $clr_list_indigo[4]
$clr_indigo_500  = $clr_list_indigo[5]
$clr_indigo_600  = $clr_list_indigo[6]
$clr_indigo_700  = $clr_list_indigo[7]
$clr_indigo_800  = $clr_list_indigo[8]
$clr_indigo_900  = $clr_list_indigo[9]
$clr_indigo_a100 = $clr_list_indigo[10]
$clr_indigo_a200 = $clr_list_indigo[11]
$clr_indigo_a400 = $clr_list_indigo[12]
$clr_indigo_a700 = $clr_list_indigo[13]


$clr_list_blue = (#e3f2fd #bbdefb #90caf9 #64b5f6 #42a5f5 #2196f3 #1e88e5 #1976d2 #1565c0 #0d47a1 #82b1ff #448aff #2979ff #2962ff)

$clr_blue      = $clr_list_blue[5]
$clr_blue_50   = $clr_list_blue[0]
$clr_blue_100  = $clr_list_blue[1]
$clr_blue_200  = $clr_list_blue[2]
$clr_blue_300  = $clr_list_blue[3]
$clr_blue_400  = $clr_list_blue[4]
$clr_blue_500  = $clr_list_blue[5]
$clr_blue_600  = $clr_list_blue[6]
$clr_blue_700  = $clr_list_blue[7]
$clr_blue_800  = $clr_list_blue[8]
$clr_blue_900  = $clr_list_blue[9]
$clr_blue_a100 = $clr_list_blue[10]
$clr_blue_a200 = $clr_list_blue[11]
$clr_blue_a400 = $clr_list_blue[12]
$clr_blue_a700 = $clr_list_blue[13]

$clr_list_light_blue = (#e1f5fe #b3e5fc #81d4fa #4fc3f7 #29b6f6 #03a9f4 #039be5 #0288d1 #0277bd #01579b #80d8ff #40c4ff #00b0ff #0091ea)

$clr_light_blue      = $clr_list_light_blue[5]
$clr_light_blue_50   = $clr_list_light_blue[0]
$clr_light_blue_100  = $clr_list_light_blue[1]
$clr_light_blue_200  = $clr_list_light_blue[2]
$clr_light_blue_300  = $clr_list_light_blue[3]
$clr_light_blue_400  = $clr_list_light_blue[4]
$clr_light_blue_500  = $clr_list_light_blue[5]
$clr_light_blue_600  = $clr_list_light_blue[6]
$clr_light_blue_700  = $clr_list_light_blue[7]
$clr_light_blue_800  = $clr_list_light_blue[8]
$clr_light_blue_900  = $clr_list_light_blue[9]
$clr_light_blue_a100 = $clr_list_light_blue[10]
$clr_light_blue_a200 = $clr_list_light_blue[11]
$clr_light_blue_a400 = $clr_list_light_blue[12]
$clr_light_blue_a700 = $clr_list_light_blue[13]


$clr_list_cyan = (#e0f7fa #b2ebf2 #80deea #4dd0e1 #26c6da #00bcd4 #00acc1 #0097a7 #00838f #006064 #84ffff #18ffff #00e5ff #00b8d4)

$clr_cyan      = $clr_list_cyan[5]
$clr_cyan_50   = $clr_list_cyan[0]
$clr_cyan_100  = $clr_list_cyan[1]
$clr_cyan_200  = $clr_list_cyan[2]
$clr_cyan_300  = $clr_list_cyan[3]
$clr_cyan_400  = $clr_list_cyan[4]
$clr_cyan_500  = $clr_list_cyan[5]
$clr_cyan_600  = $clr_list_cyan[6]
$clr_cyan_700  = $clr_list_cyan[7]
$clr_cyan_800  = $clr_list_cyan[8]
$clr_cyan_900  = $clr_list_cyan[9]
$clr_cyan_a100 = $clr_list_cyan[10]
$clr_cyan_a200 = $clr_list_cyan[11]
$clr_cyan_a400 = $clr_list_cyan[12]
$clr_cyan_a700 = $clr_list_cyan[13]


$clr_list_teal = (#e0f2f1 #b2dfdb #80cbc4 #4db6ac #26a69a #009688 #00897b #00796b #00695c #004d40 #a7ffeb #64ffda #1de9b6 #00bfa5)

$clr_teal      = $clr_list_teal[5]
$clr_teal_50   = $clr_list_teal[0]
$clr_teal_100  = $clr_list_teal[1]
$clr_teal_200  = $clr_list_teal[2]
$clr_teal_300  = $clr_list_teal[3]
$clr_teal_400  = $clr_list_teal[4]
$clr_teal_500  = $clr_list_teal[5]
$clr_teal_600  = $clr_list_teal[6]
$clr_teal_700  = $clr_list_teal[7]
$clr_teal_800  = $clr_list_teal[8]
$clr_teal_900  = $clr_list_teal[9]
$clr_teal_a100 = $clr_list_teal[10]
$clr_teal_a200 = $clr_list_teal[11]
$clr_teal_a400 = $clr_list_teal[12]
$clr_teal_a700 = $clr_list_teal[13]


$clr_list_green = (#e8f5e9 #c8e6c9 #a5d6a7 #81c784 #66bb6a #4caf50 #43a047 #388e3c #2e7d32 #1b5e20 #b9f6ca #69f0ae #00e676 #00c853)

$clr_green      = $clr_list_green[5]
$clr_green_50   = $clr_list_green[0]
$clr_green_100  = $clr_list_green[1]
$clr_green_200  = $clr_list_green[2]
$clr_green_300  = $clr_list_green[3]
$clr_green_400  = $clr_list_green[4]
$clr_green_500  = $clr_list_green[5]
$clr_green_600  = $clr_list_green[6]
$clr_green_700  = $clr_list_green[7]
$clr_green_800  = $clr_list_green[8]
$clr_green_900  = $clr_list_green[9]
$clr_green_a100 = $clr_list_green[10]
$clr_green_a200 = $clr_list_green[11]
$clr_green_a400 = $clr_list_green[12]
$clr_green_a700 = $clr_list_green[13]


$clr_list_light_green = (#f1f8e9 #dcedc8 #c5e1a5 #aed581 #9ccc65 #8bc34a #7cb342 #689f38 #558b2f #33691e #ccff90 #b2ff59 #76ff03 #64dd17)

$clr_light_green      = $clr_list_light_green[5]
$clr_light_green_50   = $clr_list_light_green[0]
$clr_light_green_100  = $clr_list_light_green[1]
$clr_light_green_200  = $clr_list_light_green[2]
$clr_light_green_300  = $clr_list_light_green[3]
$clr_light_green_400  = $clr_list_light_green[4]
$clr_light_green_500  = $clr_list_light_green[5]
$clr_light_green_600  = $clr_list_light_green[6]
$clr_light_green_700  = $clr_list_light_green[7]
$clr_light_green_800  = $clr_list_light_green[8]
$clr_light_green_900  = $clr_list_light_green[9]
$clr_light_green_a100 = $clr_list_light_green[10]
$clr_light_green_a200 = $clr_list_light_green[11]
$clr_light_green_a400 = $clr_list_light_green[12]
$clr_light_green_a700 = $clr_list_light_green[13]


$clr_list_lime = (#f9fbe7 #f0f4c3 #e6ee9c #dce775 #d4e157 #cddc39 #c0ca33 #afb42b #9e9d24 #827717 #f4ff81 #eeff41 #c6ff00 #aeea00)

$clr_lime      = $clr_list_lime[5]
$clr_lime_50   = $clr_list_lime[0]
$clr_lime_100  = $clr_list_lime[1]
$clr_lime_200  = $clr_list_lime[2]
$clr_lime_300  = $clr_list_lime[3]
$clr_lime_400  = $clr_list_lime[4]
$clr_lime_500  = $clr_list_lime[5]
$clr_lime_600  = $clr_list_lime[6]
$clr_lime_700  = $clr_list_lime[7]
$clr_lime_800  = $clr_list_lime[8]
$clr_lime_900  = $clr_list_lime[9]
$clr_lime_a100 = $clr_list_lime[10]
$clr_lime_a200 = $clr_list_lime[11]
$clr_lime_a400 = $clr_list_lime[12]
$clr_lime_a700 = $clr_list_lime[13]


$clr_list_yellow = (#fffde7 #fff9c4 #fff59d #fff176 #ffee58 #ffeb3b #fdd835 #fbc02d #f9a825 #f57f17 #ffff8d #ffff00 #ffea00 #ffd600)

$clr_yellow      = $clr_list_yellow[5]
$clr_yellow_50   = $clr_list_yellow[0]
$clr_yellow_100  = $clr_list_yellow[1]
$clr_yellow_200  = $clr_list_yellow[2]
$clr_yellow_300  = $clr_list_yellow[3]
$clr_yellow_400  = $clr_list_yellow[4]
$clr_yellow_500  = $clr_list_yellow[5]
$clr_yellow_600  = $clr_list_yellow[6]
$clr_yellow_700  = $clr_list_yellow[7]
$clr_yellow_800  = $clr_list_yellow[8]
$clr_yellow_900  = $clr_list_yellow[9]
$clr_yellow_a100 = $clr_list_yellow[10]
$clr_yellow_a200 = $clr_list_yellow[11]
$clr_yellow_a400 = $clr_list_yellow[12]
$clr_yellow_a700 = $clr_list_yellow[13]


$clr_list_amber = (#fff8e1 #ffecb3 #ffe082 #ffd54f #ffca28 #ffc107 #ffb300 #ffa000 #ff8f00 #ff6f00 #ffe57f #ffd740 #ffc400 #ffab00)

$clr_amber      = $clr_list_amber[5]
$clr_amber_50   = $clr_list_amber[0]
$clr_amber_100  = $clr_list_amber[1]
$clr_amber_200  = $clr_list_amber[2]
$clr_amber_300  = $clr_list_amber[3]
$clr_amber_400  = $clr_list_amber[4]
$clr_amber_500  = $clr_list_amber[5]
$clr_amber_600  = $clr_list_amber[6]
$clr_amber_700  = $clr_list_amber[7]
$clr_amber_800  = $clr_list_amber[8]
$clr_amber_900  = $clr_list_amber[9]
$clr_amber_a100 = $clr_list_amber[10]
$clr_amber_a200 = $clr_list_amber[11]
$clr_amber_a400 = $clr_list_amber[12]
$clr_amber_a700 = $clr_list_amber[13]


$clr_list_orange = (#fff3e0 #ffe0b2 #ffcc80 #ffb74d #ffa726 #ff9800 #fb8c00 #f57c00 #ef6c00 #e65100 #ffd180 #ffab40 #ff9100 #ff6d00)

$clr_orange      = $clr_list_orange[5]
$clr_orange_50   = $clr_list_orange[0]
$clr_orange_100  = $clr_list_orange[1]
$clr_orange_200  = $clr_list_orange[2]
$clr_orange_300  = $clr_list_orange[3]
$clr_orange_400  = $clr_list_orange[4]
$clr_orange_500  = $clr_list_orange[5]
$clr_orange_600  = $clr_list_orange[6]
$clr_orange_700  = $clr_list_orange[7]
$clr_orange_800  = $clr_list_orange[8]
$clr_orange_900  = $clr_list_orange[9]
$clr_orange_a100 = $clr_list_orange[10]
$clr_orange_a200 = $clr_list_orange[11]
$clr_orange_a400 = $clr_list_orange[12]
$clr_orange_a700 = $clr_list_orange[13]


$clr_list_deep_orange = (#fbe9e7 #ffccbc #ffab91 #ff8a65 #ff7043 #ff5722 #f4511e #e64a19 #d84315 #bf360c #ff9e80 #ff6e40 #ff3d00 #dd2c00)

$clr_deep_orange      = $clr_list_deep_orange[5]
$clr_deep_orange_50   = $clr_list_deep_orange[0]
$clr_deep_orange_100  = $clr_list_deep_orange[1]
$clr_deep_orange_200  = $clr_list_deep_orange[2]
$clr_deep_orange_300  = $clr_list_deep_orange[3]
$clr_deep_orange_400  = $clr_list_deep_orange[4]
$clr_deep_orange_500  = $clr_list_deep_orange[5]
$clr_deep_orange_600  = $clr_list_deep_orange[6]
$clr_deep_orange_700  = $clr_list_deep_orange[7]
$clr_deep_orange_800  = $clr_list_deep_orange[8]
$clr_deep_orange_900  = $clr_list_deep_orange[9]
$clr_deep_orange_a100 = $clr_list_deep_orange[10]
$clr_deep_orange_a200 = $clr_list_deep_orange[11]
$clr_deep_orange_a400 = $clr_list_deep_orange[12]
$clr_deep_orange_a700 = $clr_list_deep_orange[13]


$clr_list_brown = (#efebe9 #d7ccc8 #bcaaa4 #a1887f #8d6e63 #795548 #6d4c41 #5d4037 #4e342e #3e2723)

$clr_brown      = $clr_list_brown[5]
$clr_brown_50   = $clr_list_brown[0]
$clr_brown_100  = $clr_list_brown[1]
$clr_brown_200  = $clr_list_brown[2]
$clr_brown_300  = $clr_list_brown[3]
$clr_brown_400  = $clr_list_brown[4]
$clr_brown_500  = $clr_list_brown[5]
$clr_brown_600  = $clr_list_brown[6]
$clr_brown_700  = $clr_list_brown[7]
$clr_brown_800  = $clr_list_brown[8]
$clr_brown_900  = $clr_list_brown[9]


$clr_list_grey = (#fafafa #f5f5f5 #eeeeee #e0e0e0 #bdbdbd #9e9e9e #757575 #616161 #424242 #212121)

$clr_grey      = $clr_list_grey[5]
$clr_grey_50   = $clr_list_grey[0]
$clr_grey_100  = $clr_list_grey[1]
$clr_grey_200  = $clr_list_grey[2]
$clr_grey_300  = $clr_list_grey[3]
$clr_grey_400  = $clr_list_grey[4]
$clr_grey_500  = $clr_list_grey[5]
$clr_grey_600  = $clr_list_grey[6]
$clr_grey_700  = $clr_list_grey[7]
$clr_grey_800  = $clr_list_grey[8]
$clr_grey_900  = $clr_list_grey[9]
$clr_grey_1000 = $clr_list_grey[10]


$clr_list_blue_grey = (#eceff1 #cfd8dc #b0bec5 #90a4ae #78909c #607d8b #546e7a #455a64 #37474f #263238)

$clr_blue_grey      = $clr_list_blue_grey[5]
$clr_blue_grey_50   = $clr_list_blue_grey[0]
$clr_blue_grey_100  = $clr_list_blue_grey[1]
$clr_blue_grey_200  = $clr_list_blue_grey[2]
$clr_blue_grey_300  = $clr_list_blue_grey[3]
$clr_blue_grey_400  = $clr_list_blue_grey[4]
$clr_blue_grey_500  = $clr_list_blue_grey[5]
$clr_blue_grey_600  = $clr_list_blue_grey[6]
$clr_blue_grey_700  = $clr_list_blue_grey[7]
$clr_blue_grey_800  = $clr_list_blue_grey[8]
$clr_blue_grey_900  = $clr_list_blue_grey[9]
